body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

header {
  /* background-color: #777; */ 
  box-shadow: 0px 0px 5px #999;
  background-color: #a7f594;
  padding: 20px;
  margin-top: 1px;
  margin-bottom: 20px;
  /* border: solid 1px black; */
}

header a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 20px;
  transition: .2s;
  /* border-left: solid 1px black;
  border-right: solid 1px black; */
}

header a:hover {
  background-color: #2cd342;
  box-shadow: 0px 0px 5px #999;
  padding: 20px 25px 25px 25px;
  border: solid 1px black;
  /* font-size: 25px; */
  /* border-right: solid 1px black; */
  /* transform: scale(1.5); */
}

main {
  display: grid;
  grid-template-columns: 200px 1fr 300px;
  height: 750px;
}

#elements {
  grid-column: 1/4;
  background-color: #69c;
  margin: 0px 10px;
  border-style: solid;
  border-radius: 10px 10px 0px 0px;
  max-height: 100%;
  overflow: auto;
  display: flex;
}

#compounds {
  grid-column: 1;
  overflow: auto;
  background-color: #69c;
  margin-left: 10px;
  border-style: solid;
  border-radius: 0px 0px 0px 10px;
  box-shadow: 0px 0px 3px #999;
}

.compound {
  border-bottom: 2px solid black;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

#pot {
  display: flex;
  background-color: #bff8fc;
  border-style: solid;
  box-shadow: 0px 0px 3px #999;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#info {
  box-shadow: 0px 0px 3px #999;
  padding: 20px;
  background-color: #2cd342;
  margin-right: 10px;
  border-style: solid;
  border-radius: 0px 0px 10px 0px;
}

#compound-img {
  height: 80%;
}

footer {
  background-color: #a7f594;
  text-align: center;
}

.Element {
  display: inline;
  margin: 10px 0px;
  padding: 40px;
  border: 1px solid lightgray;
  cursor: pointer;
  height: 100%;
  position: inherit;
}

.element {
  width: 80px;
  min-width: 80px;
  cursor: pointer;
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* text-align: center; */
  border: solid 1px black;
  /* display: inline; */
  /* display: block; */
}

.number {
  margin: 0;
  font-size: 15px;
  margin-left: 2.5px;
}

.weight {
  margin: 0;
  font-size: 15px;
  margin-right: 2.5px;
}

.symbol {
  grid-column: 1/3;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.name {
  grid-column: 1/3;
  text-align: center;
  margin: 0;
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border: solid 1px black;
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border: solid 1px black;

}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
